:root{
    --fundo:#D8BFD8;
    --cartao-frente:#FFA07A;
    --cartao-verso:	#D8BFD8;
    --destaque:	#eb4aeb;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}